<% if user_signed_in? %>
  <div class="container mx-auto my-8">
    <h1 class="text-3xl text-center font-bold mb-4">Create a New Category</h1>

    <% if @category.errors.any? %>
      <div class="error-box">
        <p><%= pluralize(@category.errors.count, "error") %> found:</p>
        <ul class="error-list">
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @category, url: groups_path, class: 'flex flex-col max-w-3xl mx-auto gap-4') do |form| %>
      <div class="input-group">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, class: 'w-full p-2 border rounded' %>
      </div>

      <div class="input-group">
        <%= form.label :icon %>
        <%= form.text_field :icon, required: true, class: 'w-full p-2 border rounded' %>
      </div>

      <div class="flex justify-center">
        <%= form.submit class: 'btn-primary my-4' %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">Please sign in to create a category item.</p>
<% end %>
